
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Inter UI', ui-sans-serif, -apple-system, Arial, Helvetica,
    'Apple Color Emoji', sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

/* ::selection {
  background-color: rgba(255, 255, 255, 1);
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}